* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

body {
  font-family: 'Netflix Sans', 'Futura', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  background-color: #111;
}
